<html>
  <link rel="import" href="celeb-game-movie__actors.html" />

  <template id="celeb-game-movie">
    <style>
      :host {
        display: block;
        text-align: center;
      }

      .form {
        width: var( --content__width );
        margin: 0 auto;
      }

      .button {
        @apply --button-reset;

        background-color: #169CFF;
      }

      .button.button--load {

      }
    </style>
    <form id="form" class="form" name="form">
      <label>Movie Title: <input type="text" id="title" name="title" value="The Matrix" /></label>
      <button id="load" class="button button--load">Load</button>
    </form>
    <celeb-game-movie__actors id="actors"></celeb-game-movie__actors>
  </template>
  <script>//<![CDATA[
    (function () {
      "use strict";

      var ownerDocument = document.currentScript.ownerDocument;

      class CelebGameMovie extends HTMLElement {
        // Remember to call the super method here
        constructor() {
          super();

          const $shadowRoot = this.attachShadow({
            "mode": "open"
          });
          const $CelebGameMovie = ownerDocument.querySelector( '#celeb-game-movie' );
          const $shadowContent = $CelebGameMovie.content.cloneNode( true );

          $shadowRoot.appendChild( $shadowContent );

          this.load = this.load.bind( this );
        } // constructor

        connectedCallback() {
          const $form = this.shadowRoot.querySelector( '#form' );

          $form.addEventListener( 'submit', this.load );
        }

        load( event ) {
          event.preventDefault();

          var $form = event.currentTarget;

          var title = $form.elements.title.value;

          var movieId = new TmdbCall( tmdbKey, true ).Search( 'movie', title ).getId();

          var cast = new TmdbCall( tmdbKey, true ).Movie( movieId ).getCast();

          var topFive = cast.slice( 0, 5 );

          const $actors = this.shadowRoot.querySelector( '#actors' );

          if ( !!topFive & topFive.length ) {
            console.log( '$actors', $actors );
            
            // console.log( 'topFive', topFive );

            // console.log( '$actors.actors', $actors.actors );
            $actors.actors = topFive;
          }
        }
      }

      window.customElements.define( 'celeb-game-movie', CelebGameMovie );
    })();
  //]]></script>
</html>