<html>
  <template id="celeb-game-movie-actors">
    <style>
      :host {
        display: block;
      }
    </style>
    <ul id="actors">
      <!-- <li><img/></li> -->
    </ul>
    <ul id="names">
      <!-- <button></button> -->
    </ul>
  </template>
  <script>//<![CDATA[
    (function () {
      "use strict";

      var ownerDocument = document.currentScript.ownerDocument;

      class CelebGameMovieActors extends HTMLElement {
        set actors( data ) {
          this._actors = data;
          this.render();
        }

        get actors() {
          return this._actors;
        }
        
        // Remember to call the super method here
        constructor() {
          super();

          const $shadowRoot = this.attachShadow({
            "mode": "open"
          });
          const $CelebGameMovieActors = ownerDocument.querySelector( '#celeb-game-movie-actors' );
          const $shadowContent = $CelebGameMovieActors.content.cloneNode( true );

          $shadowRoot.appendChild( $shadowContent );

          // @todo: Implement in tmdb.js
          this._imagesUrlPrefix = 'https://image.tmdb.org/t/p/w276_and_h350_bestv2/';
        }

        connectedCallback() {
          if ( !!this.actors && this.actors.length ) {
            this.render();
          }
        }

        renderActors() {
          const $actors = this.shadowRoot.querySelector( '#actors' );

          console.log( this.actors );

          this.actors.forEach( ( actor ) => {
            var $li = ownerDocument.createElement( 'li' );

            $li.textContent = actor.name;

            $actors.appendChild( $li );
          } );

          // $actors.innerHTML += actorsHTML;
        }

        renderNames() {
          const $names = this.shadowRoot.querySelector( '#names' );

          this.actors.forEach( ( actor ) => {
            var $li = ownerDocument.createElement( 'li' );

            var $img = ownerDocument.createElement( 'img' );

            $img.src = this._imagesUrlPrefix + actor.profile_path;

            $li.appendChild( $img );

            $names.appendChild( $li );
          } );

          // $actors.innerHTML += actorsHTML;
        }

        render() {
          this.renderNames();
          this.renderActors();
        }
      }

      window.customElements.define( 'celeb-game-movie__actors', CelebGameMovieActors );
    })();
  //]]></script>
</html>